body{
    background-color: rgb(53, 70, 80);
}
header{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
div{
    background-color: white;
    width: 600px;
    margin: auto;
}
#resistencia{
    margin-left: 10px;
}
button{
    margin-left: 100px ;
    width: 100px;
    height: 30px;
    font-weight: bold;
    border-radius: 10%;
    cursor: pointer;
}

#resistencia{
    width: 250px;
}

#tensao{
    width: 250px;
}

#corrente{
    width: 250px;
}