*{
    margin: 0px;
    padding: 0px;
}
.cabecalho{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
    margin-block-start: 0px;  }
.tituloCabecalho{
    margin-block-start: 10px;
    margin-block-end: 5px;
}
.logoCabecalho{
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-right: 30px;
}
hr{
    background-color: black; 
    height: 1px;
    border: 0; 
    margin: 0"
}
.conteudo{
    display: flex;
    justify-content: space-around;
    padding: 0px 150px;
}
img{
    width: 350px;
    height: 450px;
}
#logoSenai{
    width: 100px;
    height: 30px;
  }
#txtCamisa{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 350px;
    border: solid 2px gray;
    border-radius: 10px;
}
.nomeProduto{
    text-align: center;
    font-size: 25px;
}
.descricaoProduto{
    padding: 20px;
}
.precoProduto{
    text-align: center;
    font-size: 25px;
}
#button{
    align-content: center;
    width: 300px;
    height: 90px;
    cursor:pointer;
	background-color:#0047B6;
    color: #FEFEFE;
    border: 1px solid;
    border-radius: 25px;
    font-size: 30px;
}
footer{
    text-align: center;
    
}