*{
    margin: 0px;
    padding: 0px;
}
header{
    text-align: center;
    background-color: #0047B6;
    color: #FEFEFE;
    margin-bottom: 10px;
    padding: 15px 0px;
}
.conteudo{
    display: flex;
    justify-content: space-around;
    padding: 0px 150px;
}
img{
    width: 350px;
    height: 450px;
}
#txtCamisa{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 350px;
    border: solid 2px gray;
    border-radius: 10px;
}
.nomeProduto{
    text-align: center;
    font-size: 25px;
}
.descricaoProduto{
    padding: 20px;
}
.precoProduto{
    text-align: center;
    font-size: 25px;
}
#button{
    align-content: center;
    width: 300px;
    height: 90px;
    cursor:pointer;
	background-color:#0047B6;
    color: #FEFEFE;
    border: 1px solid;
    border-radius: 25px;
    font-size: 30px;
}
footer{
    text-align: center;
    
}