*{
    margin: 0px;
    padding: 0px;
}

#container{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
header{
    background-color: blueviolet;
    grid-column: span 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 2rem;
}
section{
    background-color: cadetblue;
}
.produtos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: justify;
    padding: 0rem 5rem;
    border: solid black;
}
.tituloProduto{
    font-size:large;
}
.descricaoProduto{
    font-size: medium;
}
.precoProduto{
    font-size: x-large;
}
.btComprar{
    width: 10rem;
    height: 2rem;
    border-radius: 1rem;
    background-color: green;
    color: ;
}
.link{
    text-decoration: none;
    color: black;
}
footer{
    grid-column: span 3;
    background-color: aqua;
    text-align: center;
    
}
#logoSenai{
    width: 6.25rem;
    height: 2rem;
}
.imgCamisa{
    width: 8.5rem;
    height: 14.75rem;
}