#tituloProduto{
    padding-top: 120px;
}
#central{
    display: flex;
    padding-top: 10px;
}
#imgProd{
    width: 270px;
    height: 300px;
    margin-bottom: 10px;
    background-position: center;
    background-size: cover;
    border: 5px solid #070347;
    border-radius: 20px;
}
#descProduto{
    width: 1000px;
    border: 5px solid;
    border-radius: 30px;
    padding: 10px;
    margin-left: 10px;
    overflow: auto;
    font-size: 22px;
    height: 400px;
}